body{
    overflow: auto;
    overflow-x: hidden;
    font-size: 14px;
    font-family: PingFang SC,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.flex{
    display: flex !important;
}
.blue{
    color: #00aae7 !important;
}
.none{
    display: none !important;
}
.white{
    color: white !important;
}
