.bottom{
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 750px;
}
.bottom-layout{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: 50%;
    background-image: url("https://www-static.qbox.me/_next/static/media/layout.d6fc5d9df6276cee3d1021c7fab8a4da.png");
}
.bottom-title{
    line-height: 1.5715;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 36px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
.bottom-step1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: 50%;
    animation:step1 5s   infinite ;
    animation-timing-function:ease;
    background-image: url("https://www-static.qbox.me/_next/static/media/step1.9a243e529db1bf24fab1371b34e02ef1.png");
}

@keyframes step1{
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
       
    }
}

.bottom-step2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: 50%;
    animation: step2 5s  infinite ;
    animation-timing-function:ease;
    background-image: url("https://www-static.qbox.me/_next/static/media/step2.c23e51027547a20597960ab82f50918c.png");
}
@keyframes step2{
    20%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }

}

.bottom-step3{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: 50%;
    animation: step3 5s infinite ;
    animation-timing-function:ease;
    background-image: url("https://www-static.qbox.me/_next/static/media/step3.15428331d0e1aeec66369c60027e70a3.png");
    
}
@keyframes step3{
    40%{
        opacity: 0;

    }
    100%{
        opacity: 1;
        
    }


}


.bottom-step4{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: 50%;
    animation: step4 5s infinite ;
    animation-timing-function:ease;
    background-image: url("https://www-static.qbox.me/_next/static/media/step4.ed4ea69b15a2aa84c2940efa3e8e85f5.png");

}
@keyframes step4{
    60%{
        opacity: 0;

    }
    100%{
        opacity: 1;
        
    }

}
.bottom-step5{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: 50%;
    animation: step5 5s infinite ;
    animation-timing-function:ease;
    background-image: url("https://www-static.qbox.me/_next/static/media/step5.8918b5078e21278afcce9db1222767e2.png");
 
}
@keyframes step5{
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
}




