.intro___36OlH{
margin-bottom: 36px;
}

.title___hJwBy{

    line-height: 1.5715;
    text-align: center;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: 500;
}
.header___RxXeA{
    line-height: 1.5715;
    text-align: center;
    box-sizing: border-box;
    list-style: none;
    font-size: 16px;
    color: #333;
}
.item___3EdJ2{
    list-style: none;
    position: relative;
    display: inline-block;
    line-height: 72px;
    padding: 0 24px;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: content-box;
    transition: .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border-bottom: 3px none; */
}
.content___3kxvB{
color: #333;
font-size: 14px;
font-family: PingFang SC,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
text-align: left;
display: block;
}

.code___3r0hQ{
    overflow: auto;
    height: 260px;
    border-radius: 4px;
    background: #fff;
}   
.hljs-meta{
    text-align: left;
    color: #aa5d00;
}
.hljs-string{
    color: green;
}
.hljs-keyword{
    text-align: left;
    margin: 0;
    padding: 0;
    color: #7928a1;
} 
.stepsTitle___FFWZm{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
}
 .section___TBr4_{
background-color: #e5e8ee;
}
.consult___1Ctwj{
    font-size: 18px;
    line-height: 1.5;
    color: #07beff;
    cursor: pointer;
}
.row___ro5mh{
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
} 
.stepCard___3G2fq{
    flex: 1 1 0px;
    text-align: left;
    background: #fff;
    margin: 0;
    padding-left: 36px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 0;
}
.arrowWrapper___wSetH{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    width: 80px;
}
.active___2GSEs{
    color: #07beff;
    border-bottom: 3px solid #07beff ;
}
.wrapper___aoobM{
    width: 1420px;
}


.dark___3nLZX{

    background-color: #4a5158;
}
 .card___nRVG4{
    position: relative;
    display: flex;
    height: 350px;
    padding: 12px;
    border-radius: 8px;
    border: none!important;
    background-color: #515962!important;
    flex: 1 1 0px;
    margin: 0 26px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(51,51,51,.08);
    background: #fff;
    margin-left: 0;
}


.content___2gEab{
    position: absolute;
    margin-left: 10px;
    height: 148px;
    margin-top: 160px;
    transition: .4s ease-in-out;
}
.title___1Ed88{
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
}
.card___nRVG4 .desc___2TYfp{
    margin-top: 12px;
    color: hsla(0,0%,100%,.6);
    font-size: 14px;
    line-height: 1.57142857;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
    max-height: 66px;
    word-break: break-word;
}
.img___PfGNL{
    transition: height .3s ease-in-out;
}


