
.root___2Iy7r{
    height: 732px;
    width: 100%;
    background: url('../imgs/background.caf1268e7ffbb5811f92cacc9acd878a.svg') 50%;
    background-size: cover;
}

.syyx1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.syyx1 .item{
    padding: 42px 20px;
    border-radius: 8px;
    width: 25%;
    height:250px ;
    margin-left: 50px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgb(51 51 51 / 8%);
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
}
.syyx1 .item p{
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.57142857;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.syyx1 .item h5{

    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}
.syyx1 .item2{
    margin-top: 20px;
    padding: 42px 20px;
    border-radius: 8px;
    width: 35%;
    height:250px ;
    margin-left: 50px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgb(51 51 51 / 8%);
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;   
}

.syyx1 .item2 p{
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.57142857;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.syyx1 .item2 h5{

    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

