.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.nav ul .nav-item-li a {
    color: #333;
}

.nav ul .nav-item-li a:hover {
    color: #00aae7;
}

.main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main_L {
    min-width: 200px;
    height: 793px;
}

.main .main_L h2 {
    flex: 0 0 auto;
    margin: 0;
    padding: 13px 10px;
    position: relative;
    font: normal 500 20px/22px "微软雅黑";
    color: #333;
}

.main .main_L ul {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main .main_L ul .duixiang {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-shrink: 0;
    line-height: 20px;
    font-family: "微软雅黑";
}

.main .main_L ul .duixiang a {
    color: #333;
    padding: 10px 20px;
    width: 100%;
}

.main .main_L ul .duixiang a:hover {
    background-color: #00aae7;
    border-bottom: 1px #666 solid;
}

.main_R {
    width: 100%;
}

.container {
    height: 100%;
}

.main_R .main_R_body {
    margin: 15px;
    /* background: rgb(59, 255, 255); */
}

.kongjianfenbu {
    display: flex;
    height: 220px;
}

.kongjianfenbu .kongjian {
    width: 600px;
    height: 100%;
    border-right: 1px #333 solid;
    position: relative;
}

.kongjian .big_box {
    position: absolute;
    width: 400px;
    height: 207px;
    top: 5%;
    left: 20%;
}

.cunchuliang-F {
    width: 700px;
    position: relative;
}

.cunchuliang-C {
    /* background-color: rgb(20, 211, 205); */
    width: 450px;
    height: 200px;
    position: absolute;
    left: 20%;
}

.cunchu {
    background: rgb(255, 255, 255);
    height: 200px;
    position: relative;
}

.cunchu-nav {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.cunchu-nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 420px;
    height: 40px;
    background: #fff;
}

.cunchu-nav ul li {
    list-style: none;
    height: 100%;
    width: 25%;
    line-height: 40px;
    text-align: center;
    border-width: thin;
    border-color: #666;
    border-style: solid;
    display: inline;
    /*列表项为行内显示*/
}

.cunchu-nav ul li a {
    padding: 0px;
    display: block;
    width: 100%;
    color: #333;
    font: normal 500 13px "微软雅黑";
    align-items: center;
    line-height: 40px;
    text-decoration: none;
}

.cunchu-nav ul li a:hover {
    background-color: #00aae7;
    color: aliceblue;
}

.tender {
    margin-top: 10px;
    height: 300px;
    /* background-color: rgb(202, 33, 33); */
    position: relative;
}

.tender .qushsikongzhi {
    position: absolute;
    width: 1000px;
    height: 279px;
    /* background: #000; */
    left: 5%;

}

.foot {
    margin: 0px 0px 0px 0px;
    height: 150px;
    background: #2c3138;
    border-top: 1px #666 solid;
    display: flex;
}

.foot-box1,
.foot-box2 {

    color: #ffffff;
    position: relative;
}

.main_R .foot-box1 {
    width: 500px;
    height: 100px;

}

.foot-box1 .foot-content {
    position: absolute;
    left: 7%;
    opacity: .6;
    font-size: 14px;
}

.foot-box1 .tupian1 {
    position: absolute;
    display: flex;
    top: 94%;
    left: 3%;
}

.tupian1 a {
    width: 25px;
    height: 35px;
}

.main_R .foot-box2 {
    width: 800px;
    height: 100px;
}

.foot-box2 .tupian2 {
    display: flex;
    width: 400px;
    height: 70px;
    position: relative;
}

.tupian2 .tupian2-cont1 {
    position: absolute;
    top: 30%;
    left: 2%;
}

.tupian2 .tupian2-cont2 {
    position: absolute;
    top: 10%;
    left: 20%;
}

.foot-box2 .tupian2 a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    opacity: .6;
}

.foot-box2 .foot-box2-content {
    position: absolute;
    top: 70%;
    left: 4%;
    width: 600px;
}

.foot-box2 .foot-box2-content p {
    font-size: 14px;
    opacity: .6;
}